@page
@model WhoamiModel
@{
    ViewData["Title"] = "Who am I?";

    // Default values for null variables
    Model.UserId ??= "Not found in session";
    Model.UserName ??= "Not found in session";
    Model.HouseholdName ??= "Not found in session";
}

<main>

    <div class="h1">
        UserId: @Model.UserId
    <div class="h1">
        UserName: @Model.UserName
    </div>
    <div class="h1">
        User household:
    </div>
    <ul class="h3">
        @foreach (var user in @Model.HouseholdMembers)
        {
            <li>@user.UserName</li>
        }
    </ul>
</main>