@page
@model WhoamiModel
@{
    ViewData["Title"] = "Who am I?";
}

<main>
    <div class="h1">
        UserId: @Model.UserId
    </div>
    <div class="h1">
        UserName: @Model.UserName
    </div>
</main>