@page
@model Web.Pages.Recipes.UpdateModel
@{
}
<section class="content-main">
	<div class="row">
		<div class="col-9">
			<div class="content-header">
				<br />
				<h2 class="content-title">Update Recipe</h2>
				<br />

				<br />
			</div>
		</div>
		<div class="col-lg-6">
			<div class="card mb-4">
				<div class="card-header">
					<h4>Update Recipe</h4>
				</div>
				<div class="card-body">
					<form method="post">
						<div class="mb-4">
							<label for="product_name" class="form-label" asp-for="CurrentRecipe.recipeName">Recipe Name</label>
							<input type="text" placeholder="@Model.CurrentRecipe.recipeName" class="form-control" asp-for="CurrentRecipe.recipeName" readonly/>
						</div>
						<div class="row">
							<div class="col-lg-4">
								<div class="mb-4">
									<label class="form-label" asp-for="CurrentRecipe.difficulty">Difficulty</label>
									<input placeholder="@Model.CurrentRecipe.difficulty" type="number" class="form-control" min="0" max="5" step="0.5" asp-for="CurrentRecipe.difficulty" />
								</div>
							</div>
							<div class="col-lg-4">
								<div class="mb-4">
									<label class="form-label" asp-for="CurrentRecipe.duration">Duration</label>
									<input placeholder="@Model.CurrentRecipe.ingredientAmount" type="number" class="form-control" min="1" max="1000" step="1" asp-for="CurrentRecipe.duration" />
								</div>
							</div>
							<div class="col-lg-5">
								<label class="form-label">Ingredients</label>
								<select class="form-select" asp-for="CurrentRecipe.ingredients">
									<!--add the for loop script thing here to loop through all the ingredients-->

									<option value="0">Ingredient 1</option> @*value is the id of the ingredient*@
									<option value="1">Ingredient 2</option>
									<option value="2">Ingredient 3</option>
								</select>
							</div>
							<div class="col-lg-4">
								<div class="mb-4">
									<label class="form-label" asp-for="CurrentRecipe.ingredientAmount">Ingredient Amount</label>
									<input placeholder="@Model.CurrentRecipe.ingredientAmount" type="number" class="form=control" min="1" max="10000" step="1" asp-for="CurrentRecipe.ingredientAmount" />
								</div>
							</div>
						</div>
						<div>
							<button type="submit" class="btn btn-md rounded font-sm hover-up">Publish</button>
						</div>
					</form>
				</div>
			</div>
			<!-- card end// -->
			<!-- card end// -->
		</div>
		<div class="col-lg-3">
			<div class="card mb-4">
				<div class="card-header">
					<h4>Media</h4>
				</div>
				<div class="card-body">
					<div class="input-upload">
						<br />
						@*<img src="assets/imgs/theme/upload.svg" alt="" />*@
						<input class="form-control" type="file" />
					</div>
				</div>
			</div>
			<!-- card end// -->
			<!-- card end// -->
		</div>
	</div>
</section>
<!-- content-main end// -->
