@page
@using Microsoft.AspNetCore.Identity;
@using Web.Services;
@using Web.Models;
@model Web.Pages.FoodSharing.AddCustomFoodModel
@inject UserManager<User> userManager;

@{
    User user = await userManager.GetUserAsync(HttpContext.User);
}
<main class="main pages">
    <div class="page-content">
        <div class="container">
            <div class="row">
                <div class="col-12 m-auto">
                    <div class="row">
                        <div class="col-xl-12" style="max-width: 600px; margin: 0 auto;">
                            <div class="login_wrap widget-taber-content background-white">
                                <div class="padding_eight_all bg-white">
                                    <div class="heading_s1" style="margin-top:100px">
                                        <h1 class="mb-5">Create Your Food Item</h1>
                                        
                                    </div>
                                    <div asp-validation-summary="All" class="text-danger"></div>
                                    <form method="post" enctype="multipart/form-data">
                                        <div asp-validation-summary="All" class="text-danger"></div>

                                        <div class="form-group">
                                            <label class="col-sm-2 col-form-label">Image</label>
                                            <div class="col-sm-10">
                                                <input type="file" accept="image/*" asp-for="Upload" class="form-control"/>
                                                <span asp-validation-for="Upload" class="text-danger"></span>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-2 col-form-label" asp-for="MyCustomFood.Name"></label>
                                            <div class="col-sm-10">
                                                <input class="form-control" asp-for="MyCustomFood.Name" />
                                                <span asp-validation-for="MyCustomFood.Name" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 col-form-label" asp-for="MyCustomFood.Description"></label>
                                            <div class="col-sm-10">
                                                <input class="form-control" asp-for="MyCustomFood.Description" />
                                                <span asp-validation-for="MyCustomFood.Description" class="text-danger"></span>
                                            </div>
                                        </div>
                                      
                                        <div class="form-group">
                                            <label class="col-sm-2 col-form-label" asp-for="MyCustomFood.ExpiredDate"></label>
                                            <div class="col-sm-10">
                                                <input class="form-control" asp-for="MyCustomFood.ExpiredDate" />
                                                <span asp-validation-for="MyCustomFood.ExpiredDate" class="text-danger"></span>
                                            </div>
                                        </div>

                                        <div class="login_footer form-group mb-50">
                                            <div class="chek-form">
                                                <div class="custome-checkbox">
                                                    <input class="form-check-input" type="checkbox" name="checkbox" id="exampleCheckbox12" value="" />
                                                    <label class="form-check-label" for="exampleCheckbox12"><span>I agree to terms &amp; Policy.</span></label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group mb-30">
                                            <button type="submit" value="Add" class="btn btn-fill-out btn-block hover-up font-weight-bold">Submit</button>
                                        </div>
                                        <p class="font-xs text-muted"><strong>Note:</strong>Your personal data will be used to support your experience throughout this website, to manage access to your account, and for other purposes described in our privacy policy</p>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>


